@media screen and (max-width: 767px){
  #carouselResponsive 
  {max-height: 1200px;
  }
  #imgFirst 
  {content: url(../resources/images/Traineauportrait.png);
  }
  #imgSecond
  {content: url(../resources/images/Chienportrait.png);
  }

}

@media screen and (max-width: 319px){
  #containerResponsive{
    justify-content: center;
  }
}

@media screen and (max-width: 409px){
  #colResponsive{
    max-height: auto;
  }
}

@media screen and (max-width: 767px){
  #titleResponsive{
    font-size: 35px;
  }
  #btnAppointment{
    font-size: 15px;
  }
  #btnVolunteer{
    font-size: 15px;
  }
  #textVideoCardId{
    font-size: 21px;
  }
}

@media screen and (max-width: 525px){
  #textVideoCardId{
    font-size: 18px;
  }

  #logoCardId{
    width: 95px;


  }
}
@media screen and (max-width: 400px){
  #titleResponsive{
    font-size: 30px;
  }
}

@media screen and (max-width: 778px){
  #colResponsive{
    max-width: 537px;
  }
}
@media screen and (max-width: 778px){
  #colResponsive{
    max-width: 537px;
  }
}

@media screen and (max-width: 319px){
  body{
    display: none;
  }
}

@media screen and (max-width: 470px){
  #titleForm{
    font-size: 20px;
  }
}

@media screen and (max-width: 450px){
  #titleCard1, #titleCard2{
    font-size: 25px;
  }
}
